/**
 * @file
 * Styles used by the Siwecos module.
 */

.result-circle {
  display: block;
  float: left;
  height: 6em;
  margin-right: 1em;
}
.result-circle .circle-bg {
  fill: none;
  stroke: #f5f5f2;
  stroke-width: 3.8;
}
.result-circle .circle-fg {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  /* stylelint-disable-next-line */
  animation: progress 1s ease-out forwards;
}
.result-circle .percentage {
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: bold;
}
.result-circle .green {
  stroke: rgba(0,131,81,1);
}
.result-circle .yellow {
  stroke: rgba(247,181,0,1);
}
.result-circle .red {
  stroke: rgba(187,30,16,1);
}
