/**
 * @file
 * Styles used by the Siwecos module.
 */

.siwecos__status-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.siwecos__status-icon::before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
  background-position: center 2px;
  background-size: 16px;
}
.siwecos__status-icon--warning::before {
  background-image: url(../icons/warning.svg);
}
.siwecos__status-icon--info::before {
  background-image: url(../icons/info.svg);
}
.siwecos__status-icon--success::before {
  background-image: url(../icons/success.svg);
}
.siwecos__status-icon--bonus::before {
  background-image: url(../icons/bonus.svg);
}

.result-circle {
  display: block;
  float: left;
  height: 6em;
  margin-right: 1em;
}
.result-circle .circle-bg {
  fill: none;
  stroke: #f5f5f2;
  stroke-width: 3.8;
}
.result-circle .circle-fg {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  /* stylelint-disable-next-line */
  animation: progress 1s ease-out forwards;
}
.result-circle .percentage {
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: bold;
}
.result-circle .green {
  stroke: rgba(0,131,81,1);
}
.result-circle .yellow {
  stroke: rgba(247,181,0,1);
}
.result-circle .red {
  stroke: rgba(187,30,16,1);
}
