/**
 * @file
 * Styles used by the Siwecos module.
 */

.siwecos__status-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.siwecos__status-icon::before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
  background-position: center 2px;
  background-size: 16px;
}
.siwecos__status-icon--warning::before {
  background-image: url(../icons/warning.svg);
}
.siwecos__status-icon--info::before {
  background-image: url(../icons/info.svg);
}
.siwecos__status-icon--success::before {
  background-image: url(../icons/success.svg);
}
.siwecos__status-icon--bonus::before {
  background-image: url(../icons/bonus.svg);
}
